appdirs==1.4.4
asgiref==3.2.10
beautifulsoup4==4.9.3
distlib==0.3.1
dj-database-url==0.5.0
Django==3.1
django-bootstrap4==2.3.1
django-heroku==0.3.1
django-phone-field==1.8.1
django-phonenumber-field==5.0.0
django-tables2==2.3.3
django-tables2-bootstrap4==2.0.0b5
django-templates==0.0.13
djangorestframework==3.12.2
filelock==3.0.12
gunicorn==20.0.4
include==0.2.2
phonenumbers==8.12.13
phonenumberslite==8.12.13
psycopg2==2.8.5
pydotenv==0.0.7
pytz==2020.1
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
virtualenv==20.1.0
whitenoise==5.2.0
